/* Box Model Hack */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.clear {
  clear: both;
}

/****************************
/* ICONS
/***************************/
.feature-icons{
  max-width: 20%;
}

/******************************************
/* BUTTON
/*******************************************/

#btn{
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 2.25rem;
  line-height: 2.25rem;
  outline: 0;
  overflow: hidden;
  padding: 0 5%;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

#btn.smaller-button{
  width: 50%;
  font-size: 1.75rem;
}

.search-field{
  font-size: 2.1rem;
  padding: 1rem 2rem;
  line-height: 2.8rem;
}

/******************************************
/* STYLES
/*******************************************/
.header-list{
  display: flex;
  justify-content: space-evenly;
}

.header-list *{
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  flex-grow: 1;
}

.header-list li:first-child, .header-list li:last-child{
  flex-grow: 2;
}

.header-list li:last-child{
  padding-right: 1%;
  text-align: right;
}

.banner{
  background-color: rgba(252, 198, 19, .5);
  padding: 3% 0;
  text-align: center;
  font-size: 1.5rem;
}

.features-list{
  display: flex;
  justify-content: space-evenly;
}

.features-list > *{
  padding: 0 3%;
}

.rubiks{
  width: 50%;
  margin-left: 5%;
}

.create-account{
  height: 400px;
}

footer *{
  display: inline-block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.container{
  font-size: 1.75rem;
  display: flex;
}

.half-page{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  flex-basis: 50%;
}

.next-pic{
  display: inline-block;
  border: 1px solid red;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

#page-wrapper{
/* 				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden; */
				-moz-transition: -moz-all 1.5s ease;
				-webkit-transition: -webkit-all 1.5s ease;
				-ms-transition: -ms-all 1.5s ease;
				transition: all 1.5s ease-in;
				padding-bottom: 75px;
}

/**************
/* slide show pics
/**************/


.slide-container{
  max-width: 50%;
  position: relative;
  margin: auto;
}

.slides{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*****************
/* MEDIA QUERIES
/*****************/

@media all and (max-width: 480px){
  .header-list{
    display: block;
  }
  
  .header-list *{
    width: 100%;
  }
  
  .header-list li:last-child{
    text-align: left;
    width: 65%;
  }
  
  #btn{
    width: 50%;
  }
  
  .features-list{
    display: block;
  }
  
  .features-list > *{
    width: 100%;
    padding: 2% 0;
    border-bottom: 1px solid gray;
  }
  
  
  .features-list > *:last-child{
    border-bottom: none;
  }
  
  .container{
    display: block;
  }
  
  .container > *{
    width: 100%;
  }
  
  .slides img{
    width: 100%;
  }

}

@media (min-width:481px) and (max-width: 768px){
  .header-list li:last-child{
    text-align: left;
    width: 50%;
  }
}