/* Box Model Hack */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.mag {
  width: 25px;
  height: 25px;
}

main {
  background-image: url("https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
  background-size: cover;
  /* height: 65vh; */
}

nav ul * {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  margin: 0 5px;
}

.container {
  width: 50%;
  margin-left: 5%;
}

.btn {
  font-size: 1.5rem;
  padding: 6px 12px;
  border-radius: 3px;
  background: orange;
  color: white;
  text-decoration: none;
}

input {
  font-size: 1.5rem;
  padding-left: 3rem;
  margin-bottom: 5%;
}

.likes li {
  display: inline-block;
  font-size: 2rem;
  margin-right: 2.5rem;
}

main + section {
  background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80");
  background-size: cover;
  padding-bottom: 3%;
  /* height: 600px; */
}

.about-us {
  width: 50%;
  padding-top: 10%;
  margin-left: 30%;
}

.pics-section{
  width: 100%;
  height: 700px;
  padding: 0 10%;
}

.pics {
  width: 100%;
  height: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pics * {
  padding: 1%;
  width: 25%;
  height: 50%;
}

.hours-open {
  width: 50%;
  float: left;
}

.coffee {
  background-image: url("https://images.unsplash.com/photo-1535878989792-1e63331d8d1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2107&q=80");
  background-size: cover;
  background-position-y: top;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  font-size: 62.5%;
}

p, a, li{
  font-size: 1.6rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h4{
  font-size: 2rem;
}

.o-text {
  color: orange;
  font-weight: 700;
}

.center {
  text-align: center;
}

ul.center * {
  display: inline-block;
  padding: 1.5rem;
  border-bottom: 2px solid gray;
}

ul.center *:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

.discs {
  height: 5%;
  display: flex;
  justify-content: center;
}

.scroll * {
  width: 10px;
  float: left;
  color: #f5e23f;
}

.scroll *:hover {
  color: orange;
}

.hours-open * {
  font-size: 2rem;
  font-weight: 500;
  padding: 0 30%;
}

.hours-open p + p {
  font-size: 2.5rem;
  font-weight: 700;
}

.marg-auto {
  display: block;
  margin: auto;
}

div > p.center.o-text {
  font-size: 2.5rem;
  text-decoration: none;
}

.portrait {
  width: 10%;
  height: 15%;
  border-radius: 30%;
}

.title {
  color: gray;
}

.star-rating {
  display: block;
  width: 10%;
  margin: auto;
}

.star-rating + p {
  padding: 0 25%;
  font-style: italic;
}


/* Media Queries */

@media all and (max-width: 768px){
  .pics-section{
    height: 70vh;
  }
  .pics{
    display: flex;
    height: 70%;
  }
  .hours-open * {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 440px){
  .pics *{
    display: none;
  }
  #pic1{
    display: block;
    height: 100%;
    width: 100%;
  }
  .scroll *:first-child{
    color: orange;
  }

  ul.center{
    padding: 0;
  }
  ul.center *{
    padding: 1%;
  }
}

@media all and (max-width: 605px){
  .likes li{
    display: block;
    list-style-type: none;
  }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
